In [4]:

# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from pandas.plotting import scatter_matrix

# Importing necessary libraries for data analysis, visualization, and modeling

In [6]:

# Loading training data from a CSV file into a pandas DataFrame and displaying the first few rows
train_data = pd.read_csv("train.csv")
print(train_data.head())

# Loading test data from a CSV file into a pandas DataFrame and displaying the first few rows
test_data = pd.read_csv("test.csv")
print(test_data.head())

# Reading and displaying the first few rows of the training and test datasets

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

# Extracting PassengerId column from the test data to be used later for predictions

In [8]:
test_passenger_ids = test_data["PassengerId"]

In [9]:
# Generating descriptive statistics for the training data and storing them in 'x'
x = train_data.describe()
print(x)

# Generating descriptive statistics for the test data and storing them in 'y'
y = test_data.describe()
print(y)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# Exploratory Data Analysis (EDA) and Data Cleaning function

In [12]:

# Exploratory Data Analysis (EDA) and Data Cleaning function
def explore_data(data):
    # Displaying general information about the dataset
    print("Data Info:")
    print(data.info())

    # Checking for missing values
    print("\nMissing Values:")
    print(data.isnull().sum())

    # Displaying summary statistics
    print("\nSummary Statistics:")
    print(data.describe())

    # Distribution of survival
    print("\nSurvival Distribution:")
    print(data['Survived'].value_counts())

    # Correlation matrix
    print("\nCorrelation Matrix:")
    corr_matrix = data.corr()
    print(corr_matrix)
    corr_matrix["Survived"].sort_values(ascending=False)
    # Visualizing correlation matrix
    sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
    
    # Creating scatter matrix for selected attributes
    attribute = ["PassengerId", "Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"]
    scatter_matrix(data[attribute], figsize=(12, 8))

    # Displaying plots
    plt.show()

# Exploratory Data Analysis (EDA) and Data Cleaning function for test set

In [13]:

# Exploratory Data Analysis (EDA) and Data Cleaning function for test set
def explore_data_for_test_set(data):
    # Displaying general information about the dataset
    print("Data Info:")
    print(data.info())

    # Checking for missing values
    print("\nMissing Values:")
    print(data.isnull().sum())

    # Displaying summary statistics
    print("\nSummary Statistics:")
    print(data.describe())

    # Correlation matrix
    print("\nCorrelation Matrix:")
    corr_matrix = data.corr()
    print(corr_matrix)
    
    # Visualizing correlation matrix
    sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
    
    # Creating scatter matrix for selected attributes
    attribute = ["PassengerId", "Pclass", "Age", "SibSp", "Parch", "Fare"]
    scatter_matrix(data[attribute], figsize=(12, 8))

    # Displaying plots
    plt.show()

# Function to clean and preprocess the data

In [14]:
def clean_data(data):
    # Drop unnecessary columns
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis=1)
    
    # Fill missing values
    data['Age'].fillna(data['Age'].median(), inplace=True)
    data['Fare'].fillna(data['Fare'].median(), inplace=True)
    data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
    
    # Encode categorical variables
    label_encoder = preprocessing.LabelEncoder()
    data['Sex'] = label_encoder.fit_transform(data['Sex'])
    data['Embarked'] = label_encoder.fit_transform(data['Embarked'])

    return data

In [15]:
# Explore and clean training data
print("Training Data Exploration:")
explore_data(train_data)

# Cleaning the training data
train_data = clean_data(train_data)

Training Data Exploration:
Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Summary Statistics:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Survival Distribution:
Survived
0    549
1    342
Name: count, dtype: int64

Correlation Matrix:

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'